/*------------------------- Burger and off canva Menu-------------*/
.site-mobile-menu-close {
    display: block;
    position: relative;
    height: 30px;
    width: 30px;
    z-index: 99;
    cursor: pointer;
    top: -20px;
}

.site-mobile-menu-close span {
    cursor: pointer;
    display: block;
    position: absolute;
    height: 30px;
    width: 30px;
}

.site-mobile-menu-close span:before,
.site-mobile-menu-close span:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 30px;
    background: var(--black);
}

.site-mobile-menu-close span:before {
    transform: rotate(45deg);

}

.site-mobile-menu-close span:after {
    transform: rotate(-45deg);
}

.site-mobile-menu {
    width: 300px;
    position: fixed;
    right: 0;
    z-index: 2000;
    padding-top: 20px;
    background: var(--white);
    height: calc(100vh);
    transform: translateX(100%);
    /*translation 100% completement a droite non visible
    et par apres le 0% le rend visible*/
    transition: .8s all cubic-bezier(.23, 1, .32, 1);
}

.offCanvas-menu .site-mobile-menu {
    box-shadow: -10px 0 20px -10px black;
    transform: translateX(0%);
}

.site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.site-mobile-menu-header .site-mobile-menu-close {
    float: right;
    margin-top: 8px;

}

.site-mobile-menu-header span {
    font-size: 30px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 0;
    line-height: 1;
    cursor: pointer;
    transition: .3s all ease
}

.site-mobile-menu-logo {
    float: left;
    margin-top: 10px;
    margin-left: 0;
}

.site-mobile-menu-logo a {
    display: inline-block;
    text-transform: uppercase;
}

.site-mobile-menu-logo a img {
    max-width: 70px;
}

.site-mobile-menu-logo a:hover {
    text-decoration: none;
}

.site-mobile-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh-52px);
    padding-bottom: 150px;
}

.site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    padding: 20px;
}

.site-nav-wrap a {
    padding: 5px 20px;
    text-decoration: none;
    display: block;
    position: relative;
    color: var(--black);
}

.site-nav-wrap a:hover {
    color: var(--primary)
}

.site-nav-wrap li {
    position: relative;
    display: block;
}

.site-nav-wrap li:active a {
    color: var(--primary);
}

.arrow-collapse {
    position: relative;
    right: 0;
    top: 0;
    z-index: 20;
    width: 36px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid var(--light);
}

.site-nav-wrap li li {
    display: block;
    position: relative;
    float: left;
    width: 100%;
}

.site-nav-wrap li li a {
    padding-left: 20px;
    font-size: 16px;
}

.burger {
    width: 28px;
    height: 32px;
    cursor: pointer;
    position: relative;
    top: 13px;
    color: #F5DEB3;
}

.burger.light:before,
.burger.light:after {
    background: var(--white);
}

.burger:before,
.burger span,
.burger:after {
    width: 100%;
    height: 2px;
    display: block;
    background: wheat;
    border-radius: 2px;
    position: absolute;
    opacity: 1;

}

.burger:before,
.burger:after {
    transition: top .35s cubic-bezier(.23, 1, .32, 1), transform .35s cubic-bezier(.23, 1, .32, 1), opacity .35s cubic-bezier(.23, 1, .32, 1),
        background-color 1.15s cubic-bezier(.86, 0, .07, 1);
    content: "";
}

.burger:before {
    top: 4px;
}

.burger span {
    top: 15px;
}

.burger:after {
    top: 26px;
}

/*Burger hover*/
.burger:hover:before {
    top: 7px;
}

.burger:hover:after {
    top: 23px;
}

/* Burger click state*/
.burger.active span {
    opacity: 0;
}

.burger.active:before {
    -webkit-transform: rotate(45deg);
    -moz-tranform: rotate(45deg);
    transform: rotate(45deg);
}

.burger.active:after {
    -webkit-transform: rotate(-45deg);
    -moz-tranform: rotate(-45deg);
    transform: rotate(-45deg);
}

.burger:focus {
    outline: none;
}

/*------------------------- NavBAR -------------*/
.custom-navbar {
    position: relative;
    z-index: 4;

    color: wheat;

}



.custom-navbar .logo img {
    max-width: 125px;
    z-index: 7;
}

.logo {
    transform: translateY(-14px);
}

.custom-navbar .custom-nav {
    padding: 0;
    margin: 0;
    background-color: #2a201c;
}

.custom-navbar .custom-nav li {
    display: inline-block;
    color: wheat;
}

.custom-navbar .custom-nav a {
    padding: 10px 15px;
    display: inline-block;
    font-weight: 600;
    color: wheat;
}

.custom-navbar .custom-nav a:hover {
    color: var(--dark);
}

.btn {
    position: relative;
    height: 54px;
    padding: 12px 30px;
    font-size: 20px;
    border-radius: 4px 15px 4px 15px;
    font-family: var(--font-family-serif);
    z-index: 5 !important;

}

.btn:active,
.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary {
    border-color: var(--primary);
    background-color: var(--primary);
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-primary:hover {
    border-color: var(--primary-darken);
    background-color: var(--primary-darken);
}

.btn-secondary {
    border-color: var(--dark);
    background: var(--dark);
    color: var(--white);

}

.circles {
    position: absolute;
    top: -100px;
    left: 0px;
    z-index: 3;

}

.circle-1,
.circle-2,
.circle-3 {
    position: absolute;
    display: inline-block;
    width: 400px;
    height: 400px;
    border: 1px solid #f5deb3;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

}

.circle-1 {
    top: 120px;
    left: 20px;
}

.circle-2 {
    top: -50px;
    left: -50px;
}

.circle-3 {
    top: 20px;
    left: 50px;
}

/*-------------Home section-----------*/

.circles-bg-navbar-hero-section-wrap {
    background-color: #2a201c;
    position: relative;
}

.hero-section {
    padding: 1.3rem 0;
    padding-bottom: 3rem;
    position: relative;
    z-index: 2;
    background-color: #2a201c;
    color: wheat;


}

.hero-section h1 {
    position: relative;
    color: white;
    z-index: 10;
}

.hero-section #circle-type {
    position: relative;
    left: -80%;
    width: 150%;
    text-align: left;
    text-transform: uppercase;
    font-family: var(--font-family);
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .1rem;
    transition: .3s all ease;
    transform: rotate(116deg);
    z-index: 5;
    color: wheat;
}


h1,
p {
    margin-bottom: 20px;


}

h1 {
    font-size: 60px;
    font-weight: 700;

}

p {
    line-height: 29px;
    z-index: 10;

}

.img-wrap {
    position: relative;
    z-index: 7;
    left: 100px;
}


.img-wrap img {
    border-radius: 100px 40px 100px 40px;
}

.float-image {
    position: absolute;
    width: 56%;
    bottom: 0%;
    left: 43%;
    transform: translateX(10%);
}

.img-hero {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 5;
    height: 526px;

}

.btns-wrap {
    margin-bottom: 50px;
    position: relative;
    z-index: 3;
}

.social-icons {
    z-index: 1;
    position: relative;

}

.social-icons:before {
    content: "";
    width: calc(100% - 200px);
    height: 0.1rem;
    background: rgba(245, 222, 179, 0.2);
    top: 50%;
    right: 0;
    position: absolute;
    transform: translateY(-50%);
}

.social-icons-inner {

    position: relative;
    display: inline-block;
    padding-right: 40px;

}

.social-icons-inner a {
    width: 45px;
    height: 45px;
    position: relative;
    display: inline-block;
    color: #F5DEB3;
    border: 2px solid var(--dark);
    border-radius: 50%;
}

.social-icons-inner a span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-icons-inner a:hover {
    color: var(--white);
    background: var(--dark);
}

/*----------------------- OUR DRINKS------*/

.special-drink-section {
    position: relative;
}

.special-drink-section:before {
    content: "";
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    background-image: url("../images/svg/drinkScrollwork.svg");
    width: 100%;
    height: 100%;
    opacity: .3;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.drink-wrap {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    display: block;
}

.drink-wrap:before {
    content: "";
    position: absolute;
    height: 80%;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    border-radius: 50px 10px 50px 10px;
    transition: .3s all ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.special-drink-section {
    padding: 2rem 0;
    margin: 5%;
}

.special-drink-section .heading,
.welcome-to-lounge .heading,
.barman-section .heading,
.review-section .heading {
    font-size: 60px;
}

.welcome-to-lounge {
    padding: 2rem 0;
    padding-bottom: 120px;
}

.drink-section .drink-info {
    line-height: 29px;
}

.drink-thumbnail {
    position: relative;
    top: 0;
    transition: .3s top ease;
}

.drink-thumbnail .price {
    position: absolute;
    display: inline-block;
    width: 54px;
    height: 54px;
    background-color: var(--dark);
    color: var(--white);
    line-height: 54px;
    border-radius: 50%;
    right: -10px;
    top: 30%;
    transform: translateY(-50%);
    font-weight: bold;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.drink-body {
    padding: 20px 10px;
    text-align: center;
    font-size: 15px;
}

.drink-body h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.drink-body a {
    color: var(--dark);
    text-decoration: none;
}

.drink-body a:hover {
    text-decoration: underline;

}

.drink-wrap:focus,
.drink-wrap:hover,
.drink-wrap.active,
.drink-thumbnail {
    top: 10px
}

.drink-wrap:focus:before,
.drink-wrap.active:before,
.drink-wrap:hover:before {
    opacity: 1;
    visibility: visible;
}

.img-wrap-welcome {
    position: relative;
    z-index: 7;
}

.img-wrap-welcome:before {
    content: "";
    z-index: 4;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    opacity: .3;
}

.img-wrap-welcome:before {
    background-image: url("../images/svg/scrollwork-drinkAlone.svg");
    width: 120%;
    height: 60%;
    top: 270px;
    left: 70px;
    opacity: .3;
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;

}


.img-wrap-welcome img {
    border-radius: 100px 40px 100px 40px;
}

/*-------------------------------------BARMAN SECTION--------------------*/
.barman-section {
    padding: 3rem 0;
    background-color: var(--white);

}

.barman-section .custom-list li {
    margin-bottom: 30px;
    width: 45%;
    display: inline-block;
    position: relative;
    padding-left: 40px;
    float: left;
}

.barman-section .custom-list li:before {
    left: 0;
    top: 0;
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/svg/checkbox.svg");
}

.scrollworkbg {
    position: relative;
}

.scrollworkbg:before {
    content: "";
    width: 100%;
    height: 100%;
    top: -200px;
    left: -150px;
    opacity: .3;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    background-image: url("../images/svg/scrollworkBarman.svg");
}

/*------------Review-Section-------------------------*/
.review-section {
    padding: 3rem 0;
    position: relative;
    overflow-y: hidden;
}

.review-section:before {
    content: "";
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
    position: absolute;
    width: 90%;
    height: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../images/svg/review-decoration.svg");

}

.review-section .tns-inner {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.review-section .review-slider-wrap {
    position: relative;
}

.review-section .review-slider-wrap .tns-nav {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.review-section .review-slider-wrap .tns-nav button {
    background: none;
    border: none;
    display: inline-block;
    position: relative;
    width: 0 !important;
    height: 7px !important;
    margin: 2px;
}

.review-slider-wrap .tns-nav button:active,
.review-slider-wrap .tns-nav button:focus,
.review-slider-wrap .tns-nav button:hover {
    outline: none;
    box-shadow: none;
    background: none;
}

.review-slider-wrap .tns-nav button:before {
    display: block;
    width: 7px;
    height: 7px;
    left: 0;
    top: 0;
    position: absolute;
    content: "";
    border-radius: 50%;
    transition: .3s all ease;
    background-color: rgba(0, 0, 0, 0.35);
}

.review-slider-wrap .tns-nav button:hover:before,
.review-slider-wrap .tns-nav button.tns-nav-active:before {
    background-color: var(--primary) !important;
}

.review-block {
    background: var(--white);
    border-radius: 100px 40px 100px 40px;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.author-pic {
    position: relative;
    margin-top: -100px;
    margin-bottom: 3px;
}

.author-pic img {
    width: 100px;
}

blockquote {
    color: var(--dark)
}

.author-info h3 {
    font-size: 16px;
    font-family: var(--font-family);
    margin-bottom: 0;
}

.author-info .career {
    font-size: 15px;
}

/*------------Subscribe-section-------------------------*/

.subscribe-section {
    margin-top: 3rem;
}

.subscribe-wrap {
    margin-bottom: -50px;
    border-radius: 40px;
    padding: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 4;
}

.subscribe-wrap:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--dark);
    width: 100%;
    background-size: cover;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-image: url("../images/svg/subscripbe-img.svg");

}

.subscribe-form,
.subscribe-form-wrap {
    z-index: 2;
    position: relative;
}

.subscribe-form-wrap h3 {
    font-size: 50px;
    color: var(--white);
}

.subscribe-form-wrap input {
    padding: 10px 20px;
    height: 60px;
    border-radius: 20px;
    border: none;
    box-shadow: none !important;
}

.subscribe-form .btn {
    position: absolute;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    font-family: var(--font-family);
}

/*------------Footer-section-------------------------*/

/*CENTER AN IMG BACKGROUND
TRANSFORM: TRNALSTEx(-50%)
opacity:1;
z-index:1;
content:""
width;
height;
background-size:contain;
background-repeat:no-repeat
background-image:;
*/

.footer-section {
    padding-top: 7rem;
    padding-bottom: 1rem;
    background-color: var(--dark2);
    color: white;
}

.footer-section h3 {
    color: white;
}

.footer-section a {
    color: white;
}

.footer-section .container {
    position: relative;
    z-index: 2;
}

.footer-logo {
    margin-top: -30px;
    position: relative;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--primary);
}

.footer-heading {
    font-family: var(--font-family);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: .2rem;
    margin-bottom: 20px;
    padding-top: 20px;
}

.NDN {
    padding-top: 60px;
}

.opening-hours li {
    float: left;
    display: inline-block;
    padding-left: 20px;
}

.opening-hours {
    padding-bottom: 50px;
}

.opening-hours li span {
    display: block;
}

.opening-hours li span:nth-of-type(1) {
    width: 80%;
}

.opening-hours li span:nth-of-type(2) {
    width: 100%;
}

.opening-hours li span:nth-of-type(3) {
    width: 20%;
}

.footer-section .links li {
    margin-bottom: 15px;
}

.socials li {
    display: inline-block;
}

.socials li a {
    width: 36px;
    height: 36px;
    color: var(--primary);
    display: inline-block;
    border-radius: 50%;
    border: 1px solid var(--white);
    position: relative;
}

.socials li a span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.socials li a span:hover {
    background: var(--dark2);
    color: white
}

.copyright {
    padding-top: 40px;
    margin-top: 80px;
    position: relative;
    font-size: 14px;
}

.copyright:before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 1);
    height: 1px;
    width: 100%;
}

/*------------mobile-menu-section-------------------------*/
/*
.site-mobile-menu-close {
    display: block;
    position: relative;
    height: 30px;
    width: 30px;
    z-index: 99;
    cursor: pointer;
    top: -20px
}

.site-mobile-menu-close span {
    cursor: pointer;
    display: block;
    position: absolute;
    height: 30px;
    width: 30px;
}

.site-mobile-menu-close span:before,
.site-mobile-menu-close span:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 30px;
    background: var(--black);
}

.site-mobile-menu-close span:before {
    transform: rotate(45deg);
}

.site-mobile-menu-close span:after {
    transform: rotate(-45deg)
}*/