.custom-navbar {
    position: relative;
    z-index: 7;
}



.custom-navbar .logo img {
    max-width: 125px;
    z-index: 7;
}

.logo {
    transform: translateY(-14px);
}

.custom-navbar .custom-nav {
    padding: 0;
    margin: 0;

}

.custom-navbar .custom-nav li {
    display: inline-block;
}

.custom-navbar .custom-nav a {
    padding: 10px 15px;
    display: inline-block;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5)
}

.custom-navbar .custom-nav a:hover {
    color: var(--dark);
}

.btn {
    position: relative;
    height: 54px;
    padding: 12px 30px;
    font-size: 20px;
    border-radius: 4px 15px 4px 15px;
    font-family: var(--font-family-serif);
    z-index: 5 !important;

}

.btn:active,
.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary {
    border-color: var(--primary);
    background-color: var(--primary);
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-primary:hover {
    border-color: var(--primary-darken);
    background-color: var(--primary-darken);
}

.btn-secondary {
    border-color: var(--dark);
    background: var(--dark);
    color: var(--white);

}

.circles {
    position: absolute;
    top: -100px;
    left: 0px;
    z-index: 0;
}

.circle-1,
.circle-2,
.circle-3 {
    position: absolute;
    display: inline-block;
    width: 400px;
    height: 400px;
    border: 1px solid #E7E8E9;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

}

.circle-1 {
    top: 120px;
    left: 20px;
}

.circle-2 {
    top: -50px;
    left: -50px;
}

.circle-3 {
    top: 20px;
    left: 50px;
}

/*-------------Home section-----------*/

.circles-bg-navbar-hero-section-wrap {
    background: var(--white);
    /* z-index: 0;*/
    position: relative;
}

.hero-section {
    padding: 1rem 0;
    position: relative;
    z-index: 2;

}


.hero-section #circle-type {
    position: relative;
    left: -80%;
    width: 150%;
    text-align: left;
    text-transform: uppercase;
    font-family: var(--font-family);
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .1rem;
    transition: .3s all ease;
    transform: rotate(116deg);
    color: var(--dark);
    z-index: 5;
}


h1,
p {
    margin-bottom: 20px;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

p {
    line-height: 29px;
}

.img-wrap {
    position: relative;
    z-index: 7;

}

.img-wrap:before,
.img-wrap:after,
.bg-down:after {
    content: "";
    z-index: -1;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    opacity: .3;
}

.img-wrap:before {
    background-image: url("../images/svg/scrollwork.svg");
    width: 546px;
    height: 130%;
    top: -55px;
    left: -105px;
    opacity: .6;
    z-index: 3;

}

.img-wrap:after {
    background-image: url("../images/svg/scrollwork2.svg");
    width: 546px;
    height: 100%;
    top: 25%;
    left: 55%;
    opacity: .6;
    z-index: 3;


}


.img-wrap img {
    border-radius: 100px 40px 100px 40px;
}

.float-image {
    position: absolute;
    width: 56%;
    bottom: 0%;
    left: 43%;
    transform: translateX(10%);
}

.img-hero {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 5;

}

.btns-wrap {
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
}

.social-icons {
    z-index: 1;
    position: relative;
}

.social-icons:before {
    content: "";
    width: calc(100% - 200px);
    height: 0.1rem;
    background: rgba(0, 0, 0, 0.2);
    top: 50%;
    right: 0;
    position: absolute;
    transform: translateY(-50%);
}

.social-icons-inner {

    position: relative;
    display: inline-block;
    padding-right: 40px;
}

.social-icons-inner a {
    width: 45px;
    height: 45px;
    position: relative;
    display: inline-block;
    color: var(--dark);
    border: 2px solid var(--dark);
    border-radius: 50%;
}

.social-icons-inner a span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-icons-inner a:hover {
    color: var(--white);
    background: var(--dark);
}

/*----------------------- OUR DRINKS------*/

.special-drink-section {
    position: relative;
}

.special-drink-section:before {
    content: "";
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
    background-image: url("../images/svg/drinkScrollwork.svg");
    width: 100%;
    height: 100%;
    opacity: .3;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.drink-wrap {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    display: block;
}

.drink-wrap:before {
    content: "";
    position: absolute;
    height: 80%;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    border-radius: 50px 10px 50px 10px;
    transition: .3s all ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.special-drink-section {
    padding: 6rem 0;
    margin: 5%;
}

.special-drink-section .heading,
.welcome .heading {
    font-size: 60px;
}

.drink-section .drink-info {
    line-height: 29px;
}

.drink-thumbnail {
    position: relative;
    top: 0;
    transition: .3s top ease;
}

.drink-thumbnail .price {
    position: absolute;
    display: inline-block;
    width: 54px;
    height: 54px;
    background-color: var(--dark);
    color: var(--white);
    line-height: 54px;
    border-radius: 50%;
    right: -10px;
    top: 30%;
    transform: translateY(-50%);
    font-weight: bold;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.drink-body {
    padding: 20px 10px;
    text-align: center;
    font-size: 15px;
}

.drink-body h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.drink-body a {
    color: var(--dark);
    text-decoration: none;
}

.drink-body a:hover {
    text-decoration: underline;

}

.drink-wrap:focus,
.drink-wrap:hover,
.drink-wrap.active,
.drink-thumbnail {
    top: 10px
}

.drink-wrap:focus:before,
.drink-wrap.active:before,
.drink-wrap:hover:before {
    opacity: 1;
    visibility: visible;
}